run = "npm run dev"
entrypoint = "app/page.tsx"

[nix]
channel = "stable-23_11"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[env]
NEXT_TELEMETRY_DISABLED = "1"
